.decorations {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
}

#circle1 {
  @include shape(89%, 5%);
  width: 244px;
  height: 244px;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22244%22%20height%3D%22244%22%20viewBox%3D%220%200%20244%20244%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M244%20256.5C244%20398.161%20124.012%20513%20-24%20513C-172.012%20513%20-292%20398.161%20-292%20256.5C-292%20114.839%20-172.012%200%20-24%200C124.012%200%20244%20114.839%20244%20256.5Z%22%20fill%3D%22%231AC0F5%22%2F%3E%3Cpath%20d%3D%22M170%20256.5C170%20371.651%2083.1432%20465%20-24%20465C-131.143%20465%20-218%20371.651%20-218%20256.5C-218%20141.349%20-131.143%2048%20-24%2048C83.1432%2048%20170%20141.349%20170%20256.5Z%22%20fill%3D%22%23719BFA%22%2F%3E%3C%2Fsvg%3E%0A");
  background-size: cover;
}

#wave1 {
  @include shape(69%, 82%);
  width: 701px;
  height: 608px;
  background-image: url("data:image/svg+xml,%3Csvg width='701' height='608' viewBox='0 0 701 608' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M213.5 519.5C120.5 504 -7.67463 545.213 1.32537 607.546H937.825V103.046C912.325 53.5462 685.7 -84.7001 670.5 74.4999C651.5 273.5 724.044 314.023 626.5 357.5C539 396.5 522.05 527.5 461 544C405.5 559 336.38 539.98 213.5 519.5Z' fill='%231AC0F5'/%3E%3Cpath d='M326.5 576C152.1 553.6 67.992 545.38 68.3253 607.546H851.825V367.546C827.492 371.88 794.8 240 738 332C681.2 424 598.5 350 565.5 486C554.702 530.5 500.9 598.4 326.5 576Z' fill='%23719BFA'/%3E%3C/svg%3E");
  background-size: cover;
}

