.header-container {
  /* Positionning */
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1.3em;
  z-index: 3;

  /* Display */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5em;
  list-style: none;

  /* Size */
  width: 80%;
  height: 5.5em;

  /* Style */
  background-color: $darker-blue;
  border-radius: 20px;
  box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s ease-in-out;

  &:hover {
    box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.5);
  }

  #home-button {
    border-radius: 10px;
    background-color: $main-pink;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  #login-button {
    border-radius: 10px;
    background-color: $main-pink;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .login-container {
    position: absolute;
    display: none;
    background-color: $main-blue;
    padding: 4% 4%;
    border-radius: 15px;
    border: 2px solid $darker-blue;
    // Placing
    top: 450%;
    left: 50%;
    transform: translate(-50%, -50%);

    .login-form-input {
      margin-bottom: 1.5em;
      font-size: 1.5em;

      input {
        border-radius: 10px;
        border: 2px solid $pale-blue;
        padding: 0 1em;
        font-size: 1em;
        font-weight: 200;
      }
    }

    #submit-login {
      border-radius: 10px;
      background-color: $darker-blue;
      width: 128px;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: $main-pink;
      }
    }

    .error-message {
      position: relative;
      top: 0;
    }
  }
}
