@mixin container($width: 80%, $height: 80%) {
  margin: auto;
  padding: 0 2em;
  border-radius: 15px;
  width: $width;
  height: $height;
  background-color: $main-blue;
}

@mixin image($url, $width: 80%, $height: 80%) {
  background-image: url($url);
  width: $width;
  height: $height;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin shape($x, $y) {
  position: absolute;
  top: $x;
  left: $y;
  transform: translate(-50%, -50%);
}

@mixin text-stroke($color, $width: 1px) {
  text-shadow: (-$width) (-$width) 0 $color, $width (-$width) 0 $color,
    (-$width) $width 0 $color, $width $width 0 $color;
}

@mixin image-zoomout(
  $url,
  $width: 80%,
  $height: 80%,
  $inital-size: 130%,
  $hover-size: 110%,
  $repeat: no-repeat
) {
  @include image($url, $width, $height);
  background-repeat: $repeat;
  background-size: $inital-size;
  transition: background-size 0.3s ease-out;
  &:hover {
    background-size: $hover-size;
  }
}
