@mixin container($width: 80%, $height: 80%) {
  margin: auto;
  padding: 0 2em;
  border-radius: 15px;
  width: $width;
  height: $height;
  background-color: $main-blue;
}

@mixin image($url, $width: 80%, $height: 80%) {
  background-image: url($url);
  width: $width;
  height: $height;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin shape($x, $y) {
  position: absolute;
  top: $x;
  left: $y;
  transform: translate(-50%, -50%);
}

@mixin text-stroke($color, $width: 1px) {
  text-shadow: -$width -$width 0 $color, $width -$width 0 $color,
    -$width $width 0 $color, $width $width 0 $color;
}
