
// Colors

$main-blue: #1ac0f5;
$pale-blue: #a5e9ff;
$input-border: #83bccf;

$darker-blue: #719bfa;
$main-pink: #e0958d;
$main-green: #6bface;
// $main-yellow: #d68e22;
$main-yellow: hsl(38, 100%, 66%);

// Breakpoints

$breakpoint-xs: 0px; // Extra small devices (portrait smartphones)
$breakpoint-sm: 576px; // Small devices (landscape smartphones, portrait tablets)
$breakpoint-md: 768px; // Medium devices (landscape tablets, small laptops)
$breakpoint-lg: 992px; // Large devices (laptops, small desktops)
$breakpoint-xl: 1200px; // Extra large devices (large desktops, high-resolution screens)
