@import "../abstracts/mixins";
@import "../abstracts/variables";

.home-page {
  .modules-container {
    margin-top: 15vh;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 0;

    @media screen and (min-width: $breakpoint-md) {
      margin-top: 30vh;
      flex-direction: row;
    }

    .module {
      @include container;
      margin: 1em auto;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $main-blue;
      cursor: pointer;
      box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.4);
      z-index: 2;
      transition: box-shadow 0.2s ease-in;

      @media screen and (min-width: $breakpoint-xl) {
        margin: auto;
      }
      &:hover {
        box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.7);
      }


      h2 {
        position: absolute;
        bottom: 0;
        background-color: $darker-blue;
        padding: 2% 15%;
        border-radius: 15px;
        font-family: $title-font-family;
        font-size: 2em;
        color: $main-pink;
        letter-spacing: 5px;

        @media screen and (min-width: $breakpoint-sm) {
          bottom: 3%;
          font-size: 2.5em;
        }

        @media screen and (min-width: $breakpoint-xl) {
          bottom: 7%;
          font-size: 2.5em;
        }
      }
    }

    @for $i from 1 through 3 {
      div:nth-child(#{$i}) {
        @include image("../../images/EnglishStudents#{$i}.png", 45vw, 30vh);

        @media screen and (min-width: $breakpoint-sm) {
          @include image("../../images/EnglishStudents#{$i}.png", 50vw, 50vh);
        }

        @media screen and (min-width: $breakpoint-md) {
          @include image("../../images/EnglishStudents#{$i}.png", 18vw, 50vh);
        }

        @media screen and (min-width: $breakpoint-xl) {
          @include image("../../images/EnglishStudents#{$i}.png", 16vw, 50vh);
        }
      }
    }
  }
}
