@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Hebrew:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Variables
$big-font-family: "Noto Serif Hebrew", serif;
$base-font-family: "Source Serif Pro", "Tilt Prism", serif;

// Font sizes
$font-size-base: 15px;
$font-size-large: $font-size-base * 1.25;
$font-size-small: $font-size-base * 0.75;

// Font weights
$font-weight-base: 400;
$font-weight-bold: 700;
